/* footer.scss */
.footer {
    background: #000;
    color: #fff;
    margin-top: 3rem;

    &__inner {
        display: grid;
        place-items: center;
        text-align: center;
        padding: 3rem 1rem;
        row-gap: .75rem;
    }

    &__logo {
        display: block;
        width: 122px;
        height: 39.444px;
    }

    &__legal {
        margin: 0;
        opacity: .9;
        font-size: .95rem;
        line-height: 1.4;
    }
}