/* _header.scss */
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
    background: #fff;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    @include m.up(md) {
        padding: 2rem 0;
    }
}

.header__brand img {
    width: 122px;
    height: auto;

    @include m.up(md) {
        width: 210px;
    }
}

.header__nav {
    display: flex;
    gap: 1rem;

    @include m.up(md) {
        gap: 1.5rem;
    }
}

.nav__link {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .02em;
    line-height: 1;
    padding: .25rem .35rem;
    border-radius: .5rem;
    color: inherit;
}

@include m.up(md) {
    .nav__link {
        font-size: 24px;
        text-transform: none;
        letter-spacing: 0;
    }
}

.nav__link.is-active {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}