// card.scss
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: #ddd;
    isolation: isolate;

    &__img {
        width: 100%;
        height: var(--card-h);
        object-fit: cover;
        object-position: center;
        display: block;
        position: relative;
        z-index: 0;
    }

    &::after {
        content: "";
        position: absolute;
        inset: auto 0 0 0;
        height: 48%;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, .30) 35%,
                rgba(0, 0, 0, .50) 100%);
        pointer-events: none;
        z-index: 1;
    }

    &__title {
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 24px;
        margin: 0;
        color: #fff;
        font-weight: 700;
        line-height: 1.25;
        z-index: 2;
        text-shadow: 0 2px 10px rgba(0, 0, 0, .35);
        font-size: 1rem;

        @include m.up(md) {
            font-size: 1.125rem;
        }

        @include m.up(lg) {
            font-size: 1.25rem;
        }

        max-width: 20ch;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        overflow: hidden;
    }
}