/* collapse.scss */
@use "../abstracts/variables" as v;

.collapse {
    border-radius: v.$radius-md;
    overflow: hidden;
    background: transparent;
}

.collapse__toggle {
    width: 100%;
    border: 0;
    cursor: pointer;
    background: v.$color-primary;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 1rem;
    font-weight: 700;
    text-align: left;
}

.collapse__title {
    pointer-events: none;
}

.collapse__icon {
    width: 18px;
    height: 18px;
    transform: rotate(0deg);
    transition: transform .36s ease;
}

.collapse.is-open .collapse__icon {
    transform: rotate(180deg);
}


.collapse__panel {
    background: v.$color-bg-soft;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-8px);
    transition: max-height .5s ease, opacity .4s ease, transform .5s ease;
    will-change: max-height, opacity, transform;
}

.collapse.is-open .collapse__panel {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}

.collapse__content {
    padding: 1rem;
    line-height: 1.5;
}

.collapse__content>*:first-child {
    margin-top: 0;
}

.collapse__content>*:last-child {
    margin-bottom: 0;
}